Lab_1/.idea/
Lab_2/train_data.csv
Lab_3/dataset_lab3/dataset_10/capture20110818.binetflow
Lab_3/dataset_lab3/dataset_11/capture20110818-2.binetflow
Lab_3/dataset_lab3/dataset_12/capture20110819.binetflow
Lab_3/dataset_lab3/dataset_9/capture20110817.binetflow
